body{

    background-color: black ;
    margin: 0;


}

.container {
    display: flex;
    align-items: center;
    justify-content: 0;
    margin-bottom: 40px;
  }
  

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9784FF;
    color: white;
    text-align: center;
}
#card1 {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 29rem;
    margin-right: 80px;
    padding: 3px;

}

#card2 {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 37.1rem;
    
    padding: 4px;


}

@media (max-width: 440px) {
    #nav1{
        padding-left: 0;
    width: 183%;
    
    font-size: 2rem;    
}

.img{
    width: 183%;
    
}
    
    .atext{
        font-size: 2rem;
    }

    #navbrand{
        font-size: 3rem;
    }

    #divnaam{
        padding-left: 0;
        width: 183%;

    }
.container{
    display: grid;
  grid-gap: 1rem;
}
#card1{
    width: 190%;
}

#card2{
    width: 190%;
}
.footer{
    height: 50px;
    
}
}


input {
    position: relative;
    width: 250px; height: 20px;
    color: white;
}

input:before {
    position: absolute;
    top: 3px; left: 3px;
    content: attr(my-date);
    display: inline-block;
    color: black;
}
